rasa-core==0.13.1
rasa-core-sdk==0.12.1
rasa-nlu==0.14.0
Flask==1.0.2
Flask-Cors==3.0.6
httpretty
requests
pymongo==3.7.1
websocket-client==0.52.0
python-crontab
pycurl==7.43.0.2
scikit-learn==0.20.0
scipy
sklearn-crfsuite
coloredlogs~=10.0
future==0.16.0
packaging~=18.0
